<header class="barra-superior">
  <div class="barra-superior__buscador-contenedor flex-1">
    <div class="barra-superior__buscador">
      <lucide-icon name="search" class="barra-superior__buscador-icono"></lucide-icon>
      <input 
        class="barra-superior__buscador-input" 
        placeholder="Buscar bienes, facturas o alertas..." 
        type="text"
      />
    </div>
  </div>

  <div class="barra-superior__acciones">
    <div class="barra-superior__herramientas">
      <button class="barra-superior__boton-icono">
        <lucide-icon name="bell"></lucide-icon>
      </button>

      <div class="barra-superior__perfil">
        <img alt="Perfil Usuario" class="barra-superior__img-perfil" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBjfyoF2Bqa2V8XpZyUMqC0L4ac1ekBRHdDbCa5NsXbg4IUfeFrmh6MG9d4LXRYqobL--bOS0JgmiKVGjdnLWinBY7G4AZJ5jZDIQz3AJ94ScG2gXsvomikTWruVXqaXq800sWAprNwCd5XQgdi7xnBf3CNFmLDbvdkjIwwI6Ln_u9sn3HtUE9IVEMBlCT9-yy0xOO9e5m1EieZbvFddhA6BUjAfHGidPbQDOGOIdGHO_J8pldF5g0oFgtAiu-SwXYhYpfiSgWar-Mr"/>
      </div>
    </div>
  </div>
</header>
